@media screen and (min-width: 600px) {

    /* Formatting main container */

    .main-grid-container {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
    }

    figure {
        margin-right: 1rem;
        position: relative;
        cursor: pointer;

    }

    figure div {
        overflow: hidden;
    }

    img {
        transition: transform 0.3s ease-in-out;
    }

    figure:hover img {
        transform: scale(1.1);
    }
    

}