* {
    box-sizing: border-box;
}
:root {
    --black-color: #222831;
    --dark-grey-color: #393E46;
    --grey-color:rgba(211, 211, 211, 0.751);
    --teal-color: #00ADB5;
    --white-color: #EEEEEE
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    
}

main h1 {
    text-align: center;
    border-bottom: solid 1px var(--teal-color);
    margin: 0;
    padding: 0.5rem;
}

/* Formatting Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    padding: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--black-color);
    min-width: 430px;
    max-width: 460px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;

}

main h2 {
    padding-top: 1rem;
    font-size: .9rem;
}

form input[type="text"],
form textarea,
form input[type="date"],
form input[type="tel"],
form input[type="email"] {
    background-color: var(--grey-color);
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: black;
    width: 400px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-color);
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    width: 400px;
    color: black;

}
.radio-item {
    margin-top: 0.5rem;
}

.radio-container label {
    padding: 0;
}

label {
    padding-top: 1rem;
}

form textarea {
    height: 100px;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

form input[type="submit"] {
    background-color: var(--grey-color);
    color: black;
    border-radius: 6px;
    padding: .8rem;
    width: 80%;
    max-width: 400px;
    margin: 1rem;
    font-size: .9rem;
}

input::placeholder {
    color: var(--dark-grey-color); /* Change the color */

  }

/* Formatting Membership Levels */

.levels-container h1 {
    margin-bottom: 2rem;
}

.levels-container {
    background-color: var(--dark-grey-color);
    padding: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    border: 1px solid var(--black-color);
    min-width: 430px;
    max-width: 460px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.level-item {
    background-color: var(--grey-color);
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: black;
    width: 400px;
    text-align: center;
    margin-bottom: 1rem;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      transform: translate(0, 20vw); 
    }

    to {
      transform: translate(0, 0); 
    }
}

.level-item button {
    padding: 1rem;
    background-color: var(--dark-grey-color);
    color: #ffffff;
    border-radius: 6px;
    
}

/* Formatting Membership Modals */

dialog h2 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    border-bottom: solid 1px var(--teal-color);

}
dialog h3 {
    font-size: .9rem;

}

dialog button {
    align-self: flex-end;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}