@media screen and (min-width: 600px) {

    /* Formatting cards */

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    }
    
    /* Formatting cards in list view */
    .list section,
    .list .header {
        grid-template-columns: repeat(4, 1fr);
    }

    .list .description,
    .list .description-header {
        display: block;
    }
}